<div class="container">
    <br>
    <h1>Lista de Ventas</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>FECHA</th>
                <th>DESCUENTO</th>
                <th>SUBTOTAL</th>
                <th>CREADO</th>
                <th>EDITADO</th>
                <th>USUARIO</th>
                <th>CLIENTE</th>
                <th>ACCION</th>
            </tr>
        </thead>
            <tbody>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
    </table>
</div>