<div class="container">
    <br>
    <h1>Registrar Producto</h1>
    <form>
          <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" class="form-control" id="" name="" placeholder="Ingrese Nombre de Producto">
          </div>
          <div class="form-group">
            <label for="">Cantidad</label>
            <input type="number" class="form-control" id="" name="">
          </div>
          <div class="form-group">
            <label for="">Precio</label>
            <input type="number" class="form-control" id="" name="">
          </div>
          <div class="form-group">
            <label for="exampleTextarea">Descripción</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="">Marca</label>
            <input type="text" class="form-control" id="" name="" placeholder="Marca">
          
          </div>
          
          <div class="form-group">
            <select  class="form-control" id="exampleSelect2">
              <option>Seleccione el Tipo Producto</option>
              <option></option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary btn-block btn-signin">Guardar</button>
      </form>
</div>