<br><br><br>
<div class="container" align="center">
  <div class="card border-primary mb-3" style="max-width: 20rem;" >
    <div class="card-header"> <h2>Iniciar Sesión</h2></div>
    <div class="card-body">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
        <input type="email" class="form-control" name="correo" placeholder="Correo" id="jmartinez@ejemplo.com"  required>
      </div>
      <br>
           <div class="input-group input-group-lg">
             <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
             <input type="password" name="contra" class="form-control" placeholder="******"  required>
           </div>
           <br>
           <button class="btn btn-lg btn-danger btn-block btn-signin" id="IngresoLog" type="submit">Ingresar</button>
           <br>
           <a routerLink="/usuario/nuevo" class="btn btn-info btn-block btn-signin">Registrar</a>
           <div class="opcioncontra"><a href="#">Olvidaste tu contraseña?</a></div>

    </div>
  </div>
</div>